<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>API TEST</title>

	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}" />

	<style>
		select {
			/* width: 80%; */
		}

		input {
			width: 80%;
		}

		textarea.httpHeader {
			width: 100%;
			height: 3rem;
			resize: none;
		}

		textarea.httpBody {
			width: 100%;
			height: 20rem;
			resize: none;
		}

		img#imgForIdCard {
			height: 10rem;
			/* background-color: darkgrey; */
			/* object-fit: scale-down; */
		}

		div#divForEdms {
			border: 1px solid black;
			padding: 1rem;
		}
	</style>

	<script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
	<script type="text/javascript">

		const nJsonStringifySpace = 5;

		document.addEventListener('DOMContentLoaded', (event) => {
			const sApiAuthKey = document.querySelector('#apiAuthKey').value;
			const sContextPath = document.querySelector('#contextPathHolder').getAttribute('data-contextPath');
			const sLocation = location.toString();
			const nIndex = sLocation.indexOf(sContextPath);
			const sBaseUrl = sLocation.substr(0, (nIndex + sContextPath.length));

			const oHttpRequestHeader = {
				'X-API-Key': sApiAuthKey,
				'Content-Type': 'application/json'
			}

			document.querySelector('#apiPath').addEventListener('change', async (event) => {
				fn_initDivForIdCard();

				document.querySelector('#requestHeader').value = '';
				document.querySelector('#requestBody').value = '';
				document.querySelector('#responseBody').value = '';

				if (event.target.value === '') {
					document.querySelector('#btnForRequest').disabled = true;
					return;
				} else {
					document.querySelector('#btnForRequest').disabled = false;
				}

				const sParamNameForRequestMockData = document.querySelector('#paramNameForRequestMockData').value;
				const sUrlForRequestMockData = document.querySelector('#urlForRequestMockData').value;

				const sUrl = sBaseUrl + sUrlForRequestMockData;

				try {
					const res = await axios({
						url: sUrl,
						method: 'GET',
						headers: {
							// 'X-API-Key': sApiAuthKey
						},
						params: {
							[sParamNameForRequestMockData]: event.target.value
						},
						responseType: 'json'
					});

					console.log('response for [API-REQUEST]', res);

					document.querySelector('#requestBody').value = JSON.stringify(res.data, null, nJsonStringifySpace);
					document.querySelector('#requestHeader').value = JSON.stringify(oHttpRequestHeader, null, nJsonStringifySpace);

					const sTargetText = event.target.options[event.target.selectedIndex].innerText;

					if (/^00\..*/.test(sTargetText) || /^01\..*/.test(sTargetText) || /^19\..*/.test(sTargetText)) {
						const oHttpRequestHeader = JSON.parse(document.querySelector('#requestHeader').value);
						oHttpRequestHeader['Content-Type'] = 'application/json';
						document.querySelector('#requestHeader').value = JSON.stringify(oHttpRequestHeader, null, nJsonStringifySpace);

						document.querySelector('#divForRequestBody').style.display = 'block';
						document.querySelector('#divForIdCard').style.display = 'block';
						document.querySelector('#divForEdms').style.display = 'none';

					} else if(/^99\..*/.test(sTargetText)){
						const oHttpRequestHeader = JSON.parse(document.querySelector('#requestHeader').value);
						oHttpRequestHeader['Content-Type'] = 'multipart/form-data';
						document.querySelector('#requestHeader').value = JSON.stringify(oHttpRequestHeader, null, nJsonStringifySpace);

						document.querySelector('#divForRequestBody').style.display = 'none';
						document.querySelector('#divForIdCard').style.display = 'none';
						document.querySelector('#divForEdms').style.display = 'block';

						const oFormForEdms = document.querySelector('#formForEdms');

						oFormForEdms.replaceChildren();
						
						const oData = res.data;
						
						let aHtml = [];
						
						for(let key in oData){
							if(key === 'file'){
								aHtml.push(`${key} : <input type="file" name="${key}" id="${key}">`);
							}else{
								aHtml.push(`${key} : <input type="text" name="${key}" id="${key}" value="${oData[key]}">`);
							}
						}

						let sHtml = aHtml.join('<br/>');
						
						oFormForEdms.innerHTML = sHtml;

					} else {
						const oHttpRequestHeader = JSON.parse(document.querySelector('#requestHeader').value);
						oHttpRequestHeader['Content-Type'] = 'application/json';
						document.querySelector('#requestHeader').value = JSON.stringify(oHttpRequestHeader, null, nJsonStringifySpace);

						document.querySelector('#divForRequestBody').style.display = 'block';
						document.querySelector('#divForIdCard').style.display = 'none';
						document.querySelector('#divForEdms').style.display = 'none';
					}
				} catch (error) {
					alert(`[error name] : ${error.name}\n[error message] : ${error.message}`);
					throw error;
				}

			});


			document.querySelector('#btnForRequest').addEventListener('click', async (event) => {
				event.preventDefault();
				const apiPath = document.querySelector('#apiPath').value;
				const sUrl = sBaseUrl + apiPath;
				
				const oSelectForApiPath = document.querySelector('#apiPath');
				const sSelectForApiPathInnerText = oSelectForApiPath.options[oSelectForApiPath.selectedIndex].innerText;
				const isEdmsCase = /^99\..*/.test(sSelectForApiPathInnerText);
				
				const requestHeader = JSON.parse(document.querySelector('#requestHeader').value);
				let requestBody;

				if(isEdmsCase){
					const oForm = document.querySelector('form#formForEdms');
					requestBody = new FormData(oForm);
				}else {
					requestBody = document.querySelector('#requestBody').value;
				}

				
				try {

					const res = await axios({
						url: sUrl,
						method: 'POST',
						headers: requestHeader,
						data: requestBody,
						responseType: 'json'
					});

					console.log('response for [API-RESPONSE]', res);

					const resJson = JSON.stringify(res.data, null, nJsonStringifySpace);

					document.querySelector('#responseBody').value = resJson;	
				} catch (error) {
					alert(`[error name] : ${error.name}\n[error message] : ${error.message}`);
					throw error;
				}
			});

			document.querySelector('#idCardType').addEventListener('change', async (event) => {
				console.log(event);
				const regExData = /^data/;
				const bIsImageBase64Data = regExData.test(event.target.value);
				const oImgForIdCard = document.querySelector('#imgForIdCard');
				if (bIsImageBase64Data) {
					oImgForIdCard.setAttribute('src', event.target.value);
					oImgForIdCard.setAttribute('alt', event.target.options[event.target.selectedIndex].innerText);
				} else {
					oImgForIdCard.setAttribute('src', '');
					oImgForIdCard.setAttribute('alt', '');
				}


				const oIdCardImgFile = document.querySelector('#idCardImgFile');

				if (event.target.value === 'directInput') {
					oIdCardImgFile.disabled = false;
				} else {
					oIdCardImgFile.disabled = true;
					if ((navigator.appName === 'Netscape' && navigator.userAgent.search('Trident') !== -1) || /.*mise.*/i.test(navigator.userAgent)) {
						oIdCardImgFile.replaceWith(oIdCardImgFile.cloneNode(true));
					} else {
						oIdCardImgFile.value = '';
					}
				}
			});

			document.querySelector('#idCardImgFile').addEventListener('change', (event) => {
				const aFiles = event.target.files;
				if (aFiles.length === 1) {
					const oFile = aFiles[0];
					let bIsImageFile = fn_isImageFile(oFile);
					if (!bIsImageFile) {
						const sMessage = '이미지 파일이 아닙니다.';
						alert(sMessage);
						throw new Error(sMessage);
					}

					const oImageFile = oFile;
					const oFileReader = new FileReader();
					oFileReader.onload = () => {
						const sBase64Data = oFileReader.result;

						const jRequestBody = document.querySelector('#requestBody').value;
						const oRequestBody = JSON.parse(jRequestBody);
						oRequestBody.data = sBase64Data;
						document.querySelector('#requestBody').value = JSON.stringify(oRequestBody, null, nJsonStringifySpace);

						document.querySelector('#imgForIdCard').src = sBase64Data;
					};
					oFileReader.readAsDataURL(oImageFile);
				} else {
					const sMessage = `파일이 1개가 아닙니다. (${aFiles.length} 개)`;
					alert(sMessage);
					throw new Error(sMessage);
				}
			});
		});

		function fn_isImageFile(oFile) {
			let bIsImageFile = false;
			if (oFile) {
				bIsImageFile = oFile.type.split('/')[0] === 'image';
			}
			return bIsImageFile;
		}

		function fn_initDivForIdCard() {
			document.querySelector('#idCardType').selectedIndex = 0;
			const oImgForIdCard = document.querySelector('#imgForIdCard');
			oImgForIdCard.setAttribute('src', '');
			oImgForIdCard.setAttribute('alt', '');

			const oIdCardImgFile = document.querySelector('#idCardImgFile');
			oIdCardImgFile.disabled = true;
			if ((navigator.appName === 'Netscape' && navigator.userAgent.search('Trident') !== -1) || /.*mise.*/i.test(navigator.userAgent)) {
				oIdCardImgFile.replaceWith(oIdCardImgFile.cloneNode(true));
			} else {
				oIdCardImgFile.value = '';
			}
		}

	</script>
</head>

<body>
	<header>
		<h1>API TEST</h1>
	</header>
	<main>
		<!-- <form action=""> -->
			<input type="hidden" name="urlForRequestMockData" id="urlForRequestMockData"
				th:value="${urlForRequestMockData}">
			<input type="hidden" name="paramNameForRequestMockData" id="paramNameForRequestMockData"
				th:value="${paramNameForRequestMockData}">
			<input type="hidden" name="apiAuthKey" id="apiAuthKey" th:value="${apiAuthKey}">

			<fieldset>
				<legend>API-AUTH</legend>
				<div>
					<label for="apiAuthEnabled">apiAuthEnabled</label>
					<input type="text" name="apiAuthEnabled" id="apiAuthEnabled" th:value="${apiAuthEnabled}"
						disabled="disabled">
					<br>
					<label for="apiAuthKey">apiAuthKey</label>
					<input type="text" name="apiAuthKey" id="apiAuthKey" th:value="${apiAuthKey}" disabled="disabled">
				</div>
			</fieldset>
			<br>
			<fieldset>
				<legend>API-IO</legend>
				<div>
					<label for="apiPath">apiPath</label>
					<select name="apiPath" id="apiPath">
						<option value="">&lt;선택&gt;</option>
						<option th:each="apiInfo : ${apiInfoList}" th:value="${apiInfo.path}"
							th:text="${apiInfo.name} + ' ' + '( ' + ${apiInfo.path} + ' )'">
						</option>
					</select>
				</div>
			</fieldset>
			<br>
			<div id="divForIdCard" style="display: none;">
				<fieldset>
					<legend>ID CARD</legend>
					<div>
						<label for="idCardType">ID CARD</label>
						<select name="idCardType" id="idCardType">
							<option value="">&lt;선택&gt;</option>
							<option value="directInput">00.직접 입력</option>
							<!-- <option th:each="idCardMockImageInfo : ${idCardMockImageInfoList}" th:value="${idCardMockImageInfo.mockImageDataFileName}" th:text="${idCardMockImageInfo.mockImageName}"></option> -->
							<option th:each="idCardMockImageInfo : ${idCardMockImageInfoList}"
								th:value="${idCardMockImageInfo.idCardMockImageBase64Data}"
								th:text="${idCardMockImageInfo.mockImageName}"></option>
						</select>
						<br>
						<br>
						<label for="idCardImgFile">FILE</label>
						<input disabled="disabled" type="file" name="idCardImgFile" id="idCardImgFile" accept="image/*">
						<br>
						<br>
						<img id="imgForIdCard" src="" alt="">
					</div>
				</fieldset>
				<br>
			</div>

			<fieldset>
				<legend>API-REQUEST</legend>
				<div id="divForRequestHeader">
					<label for="requestHeader">requestHeader</label>
					<textarea name="requestHeader" id="requestHeader" class="httpHeader"></textarea>
				</div>
				<div id="divForRequestBody">
					<label for="requestBody">requestBody</label>
					<textarea name="requestBody" id="requestBody" class="httpBody"></textarea>
				</div>
				<div id="divForEdms" style="display: none;">
					<form id="formForEdms" action="" method="post">
						<h3>이미지 시스템 (multipart/form-data)</h3>
					</form>
				</div>
				
				<div>
					<button id="btnForRequest" disabled="disabled">요청</button>
				</div>
			</fieldset>
			<br>
			<fieldset>
				<legend>API-RESPONSE</legend>
				<div>
					<label for="responseBody">responseBody</label>
					<textarea name="responseBody" id="responseBody" class="httpBody"></textarea>
				</div>

			</fieldset>
		<!-- </form> -->
	</main>

</body>

</html>