<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<conversionRule conversionWord="clr"
		converterClass="org.springframework.boot.logging.logback.ColorConverter" />

	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %clr(%5level) %cyan(%logger[%method:%line]) - %msg%n"/>
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %5level %logger[%method:%line] - %msg%n"/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE-INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./log/logback-dev-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    
     <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>            
        </filter>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./log/logback-prod-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>

	 <!--local-->
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger level="DEBUG" name="com.gooroomee" additivity="false">
        	<appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-INFO"/>
        </logger>
    </springProfile>

    <!--dev-->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="FILE-INFO"/>
        </root>
        <logger level="DEBUG" name="com.gooroomee" additivity="false">
        	<appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-INFO"/>
        </logger>
    </springProfile>
    
    <!--qa-->
    <springProfile name="qa">
        <root level="INFO">
            <appender-ref ref="FILE-INFO"/>
        </root>
        <logger level="DEBUG" name="com.gooroomee" additivity="false">
        	<appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-INFO"/>
        </logger>
    </springProfile>
    
     
    <!--prod, dr-->
    <springProfile name="prod, dr">
        <root level="ERROR">
            <appender-ref ref="FILE-ERROR"/>
        </root>
    </springProfile>
    
</configuration>